<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>obtenerClientesE</servlet-name>
        <servlet-class>Controlador.ObtenerClientesE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarClientes</servlet-name>
        <servlet-class>Controlador.eliminarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarCliente</servlet-name>
        <servlet-class>Controlador.agregarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redireccionModificar</servlet-name>
        <servlet-class>Controlador.redireccionModificar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarCliente</servlet-name>
        <servlet-class>Controlador.modificarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerClientesM</servlet-name>
        <servlet-class>Controlador.ObtenerClientesM</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>obtenerClientesE</servlet-name>
        <url-pattern>/obtenerClientesE.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarClientes</servlet-name>
        <url-pattern>/eliminarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarCliente</servlet-name>
        <url-pattern>/agregarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redireccionModificar</servlet-name>
        <url-pattern>/redireccionModificar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarCliente</servlet-name>
        <url-pattern>/modificarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerClientesM</servlet-name>
        <url-pattern>/ObtenerClientesM.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
